body {
  background-color: whitesmoke;
}

.popup {
  height: 325px;
  width: 350px;
  background: whitesmoke;
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px 30px 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}

.open-popup {
  visibility: visible;
  top: 50%;
  translate: translate(-50%, -50%);
}

.popup input {
  color: coral;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  padding: 5px 150px 5px 10px;
  margin: 0px 2px 0px -10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h2 {
  text-align: left;
  color: coral;
  margin: 15px 0 5px;
}

#done {
  width: 80%;
  margin-left: 0px;
  margin-top: 20px;
  padding: 10px 0;
  background: coral;
  color: whitesmoke;
  border: 0;
  align-items: center;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
#done:hover {
  opacity: 0.8;
}
h1 {
  text-align: justify;
  text-align: start;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 30px;
  margin-top: 10px;
  margin-bottom: -10px;
  color: coral;
  text-decoration: underline;
}
li {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  color: coral;
  font-size: large;
  padding: 20px 10px;
  margin: 20px 0px 0px -40px;
  border-style: dotted;
  border-color: black;
  line-height: 20px;
}

li span {
}

h6 {
  margin: -10px 10px 20px 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
}

#addItem {
  position: absolute;
  top: 15px;
  right: 95px;
  background: whitesmoke;
  border: 0px;
  box-shadow: none;
  padding: 0;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
#addItem:hover {
  opacity: 0.5;
}
#logout {
  position: absolute;
  top: 15px;
  right: 40px;
  background: whitesmoke;
  border: 0px;
  box-shadow: none;
  padding: 0;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
#logout:hover {
  opacity: 0.5;
}
#reset {
  position: absolute;
  top: 60px;
  right: 40px;
  color: coral;
  background: none !important;
  border: none;
  padding: 0 !important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  text-decoration: underline;
  cursor: pointer;
}
#reset:hover {
  opacity: 0.8;
  color: black;
}

.container {
  padding: 16px;
}
