body{
  background-color: whitesmoke;
}
h1 {
  text-align: justify;
  text-align: start;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 30px;
  margin-top: 10px;
  margin-bottom: -10px;
  color: coral;
  text-decoration: underline;
}
li {
  color: coral;
  font-size: large;
  padding: 20px 10px 10px 10px;
  margin: 20px 0px 0px -40px;
  border-style: dotted;
  border-color: black;
  line-height: 20px;
  height: 40px;
}
h6 {
  margin: -10px 10px 20px 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
}

#addItem {
  position: absolute;
  top: 15px;
  right: 95px;
  background: whitesmoke;
  border: 0px;
  box-shadow: none;
  padding: 0;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
#addItem:hover {
  opacity: 0.5;
}
#logout {
  position: absolute;
  top: 15px;
  right: 40px;
  background: whitesmoke;
  border: 0px;
  box-shadow: none;
  padding: 0;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
#logout:hover {
  opacity: 0.5;
}
#reset {
  position: absolute;
  top: 60px;
  right: 40px;
  color: coral;
  background: none !important;
  border: none;
  padding: 0 !important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  text-decoration: underline;
  cursor: pointer;
}
#reset:hover {
  opacity: 0.8;
  color: black;
}

.container {
  padding: 16px;
}
