body {
  height: 250px;
  width: 480px;
  background: whitesmoke;
}
h1 {
  text-align: center;
  align-items: center;
  margin: 0px 0px -10px 0px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: coral;
  text-decoration: underline;
}
h3 {
  color: coral;
  margin: 5px;
}
button {
  font-family: "Poppins", sans-serif;
  background-color: coral;
  font-weight: 300;
  color: white;
  padding: 4px 175px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 30px;
}
button:hover {
  color: rgb(0, 0, 0);
  font-weight: bold;
  opacity: 0.7;
}
p {
  align-items: flex-start;
  margin-left: 13px;
  margin-bottom: 0px;
  margin-right: 0px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif,
    Courier, monospace, sans-serif;
  font-size: 15px;
  color: black;
}
input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  color: black;
  padding: 8px 20px;
  margin: 5px 0px 5px 0px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
