h1 {
  text-align: justify;
  text-align: start;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 30px;
  margin-top: 30px;
  margin-bottom: -10px;
  color: coral;
  text-decoration: underline;
}
li {
  color: coral;
  font-size: large;
  padding: 20px 10px 10px 10px;
  margin: 20px 0px 0px -40px;
  border-style: dotted;
  border-color: black;
  line-height: 20px;
  height: 40px;
}
h6 {
  margin: -10px 10px 20px 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
}

#addItem {
  width: 50px;
  height: 48px;
  position: absolute;
  top: 17px;
  right: 95px;
  z-index: 2;
  border-radius: 25px;
  background: #fff;
  border: 0px;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
#addItem svg {
  width: 23px;
  height: 20px;
  position: absolute;
  top: 42%;
  left: 45%;
  margin: -4px 0 0 18px;
}

#logout {
  width: 50px;
  height: 40px;
  position: absolute;
  top: 21px;
  right: 20px;
  z-index: 2;
  border-radius: 25px;
  background: #fff;
  border: 0px;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
#logout svg {
  border-style: groove;
  border-color: black;
  width: 23px;
  height: 23px;
  position: absolute;
  top: 32%;
  left: 45%;
  margin: -5px 0 0 -8px;
}
#logout svg:hover {
  opacity: 0.3;
  border-color: coral;
}

/* .container {
  padding: 16px;
} */
